.li {
    width: 350px;
    background-color: yellow;
    border: 1px solid grey;
    padding: 5px;
    margin: 10px 6%;
    position: relative;
}
.active {
    background-color: #0bef0b;
}
#btn {
    padding: 5px;
}
#input{
    margin: 50px 20px 50px 40%;
    padding: 5px 20px;
}

.newBtn{
    border: 1px solid grey;
    position: absolute;
    right: 0;
}
#ul{
    margin-left: 35%;
    padding: 5px 20px;
}